body{
	font-family: var(--main-font);
	color: 	var(--secondary-color);
	line-height: var(--line-height);
	font-size: var(--body-font-size);
	background-color: var(--body-bg);
	margin: 0;
}
img{
    max-width: 100%;
    height: auto;
}
a, a:hover{
	text-decoration: none;
}