@import 'variable';
@import 'common';


/* btn */
.site_main-btn {
	display: inline-block;
	background: #241468;
	padding: 10px 30px;
	border-radius: 4px;
	text-decoration: none;
	color: #fff;
	font-weight: 500;
}
.logo_area .logo img {
	height: 90px;
	width: auto;
}
  .logo_area {
	display: flex;
	align-items: center;
	gap: 10px;
	text-decoration: none;
}
  .header_logo {
	height: 200px;
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
	background-color: #ddd;
}
.header_logo {
	display: flex;
	align-items: center;
  }

  .logo_text {
	text-shadow: -1px -1px 10px #333, 1px -1px 10px #333, -1px 1px 10px #333, 1px 1px 10px #333;
	font-size: 35px;
	color: #fff;
	font-weight: 700;
	text-transform: uppercase;
}

/* menu css */
.nav-item a img {
	height: 35px;
	margin-top: 5px;
}
/* notice board */
.notice_board {
	background: linear-gradient(to bottom, #ffffff 0%, #ebebeb 100%);
	border: 1px solid antiquewhite;
}
.notice_board_content .total_notice {
	text-align: right;
}
.notice_board_content {
	padding: 30px;
	overflow: auto;
	height: 350px;
  }
  .notice_board_content ul {
	padding: 0;
	margin: 0;
	list-style: bengali;
  }
  .notice_board_content ul li {
	margin-bottom: 10px;
	margin-left: 30px;
  }
  .notice_board_content ul li a {
	display: block;
	text-decoration: none;
	font-size: 16px;
	color: var(--secondary-color);
	margin-left: 5px;
  }
  .notice_board_content ul li:hover a{
	color: var(--primary-color);
  }






/* site linked content */
.linked_content_area {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-gap: 20px;
}
.single_content_box h4 {
	font-size: 20px;
	margin: 0;
  }
.content-box {
	display: flex;
	align-items: center;
	gap: 20px;
	padding: 25px;
}
  .content-demo-img img {
	height: 100px;
  }
  .single_content_box {
	background: #f9f9f9de;
	/* padding: 15px; */
	border: 1px solid #ddd;
}
  .content-links ul {
	padding: 0;
	margin: 0;
	list-style: none;
}

.content-links ul li {
  position: relative;
  margin-left: 20px;
  transition: ease .3s;
}
.content-links ul li:before {
  position: absolute;
  left: -0px;
  top: 10px;
  content: '';
  height: 2px;
  width: 8px;
  background: #241468;
  display: none;
  transition: ease .3s;
}
.content-links ul li a {
	text-decoration: none;
	color: var(--secondary-color);
	letter-spacing: .5px;
	transition: all .3s;
}
.content-links ul li:hover:before{
	display: block;
	left: -15px;
	transition: ease .3s;
}
.content-links ul li:hover a{
	color: var(--primary-color);
}


/* side bar */
.single_section {
	padding: 0;
	border: 1px solid #e1e1e1;
	text-align: center;
  }
  .principal_speech_area h4, .single_section h4, 
  .notice_board h4, .single_content_box h4 {
	background: #241468;
	padding: 10px 15px;
	color: #fff;
	font-size: 18px;
	text-align: left;
	margin-bottom: 0;
  }
  .section__content {
	padding: auto;
  }

  
.section__content img {
	width: 150px;
	height: auto;
	margin-bottom: 20px;
	border-radius: 4px;
  }
  .section__content-meta a {
	text-decoration: none;
	margin-bottom: 10px;
	display: block;
	color: #000;
	font-size: 20px;
	font-weight: 600;
}
.section__content-meta p {
	margin-bottom: 5px;
}
.social-contact li {
    border: 1px solid #fdfd;
    padding: 10px;
    border-radius: 4px;
	margin-bottom: 0 !important; 
}

.social-contact li a img {
    height: 25px;
    width: 25px;
	margin-bottom: 0;
}

.social-contact ul {
    display: flex;
    gap: 10px;
}







.principal_speech_area {
	border: 1px solid #e1e1e1;
}
.principal_speech_content {
	display: flex;
	gap: 30px;
	align-items: center;
	padding: 30px;
}
.principal_speech_content .principal_text p {
	line-height: 30px;
	text-align: justify;
}
.pricipal_image img {
	height: auto;
	border-radius: 4px;
}
.principal_text h5 {
	color: var(--primary-color);
	margin-bottom: 20px;
	font-weight: 600;
}

/* video gallery section */

.flex-section {
background: #241468;
  padding: 10px 15px;
}

.flex-section h4, .flex-section a{
	color: #fff;
	font-size: 18px;
	text-align: left;
	margin-bottom: 0;
	text-decoration: none;
}
.video_item .video-js {
    width: 100%;
}
.video_item .vjs-poster img {
	object-fit: cover;
}
.flex-section a img {
    height: 20px;
    width: 20px;
    filter: invert(1);
    margin-left: -2px;
}
.section__content ul {
    padding: 0;
    margin: 0;
}

.section__content li {text-align: left;list-style: none;margin-bottom: 8px;}

.section__content li a {
    display: block;
    text-decoration: none;
    color: var(--secondary-color);
}
.section__content li:hover a {
	color: #0595ff;
	font-weight: 500;
}

/* footer */
section.site-footer {
    color: #fff;
}
.footer-logo a {
    font-size: 30px;
    line-height: 40px;
    FONT-WEIGHT: 600;
    color: #fff;
    text-decoration-line: none;
    margin-bottom: 10px;
    display: block;
}
.site-footer-option h4 {
    font-size: 20px;
}
.site-footer-option  ul {
    padding: 0;
    margin: 0;
}

.site-footer-option  li {text-align: left;list-style: none;margin-bottom: 8px;}

.site-footer-option  li a {
    display: block;
    text-decoration: none;
    color: var(--body-bg);
}
.site-footer-option li:hover a {
	font-weight: 500;
	color: #0595ff;
}
.copyright a img {
	height: 30px;
}

/* teacher details */
.share__this .social-contact {
	padding: 0;
}
/* notice details */
.notice-list {
	padding: 0;
}
.notice-list ul li {
	margin: 0;
	padding: 0;
	list-style: none;
}

.single_section ul{
    list-style-type: none;
    text-align: left;
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin: 0;
    padding: 10px 15px;
    left: 10px;
    li{
        
        a{
            text-decoration: none;
        }
    }
}
.single_section .notice{
	li{
		&:not(:last-child){
			border-bottom: 1px solid #ddd;
			padding-bottom: 5px;
		}

		a{
			text-transform: capitalize;
		}
	}
}
.single_section .seba-somuho{
	padding: 0;
	gap: 2px;
	li{
		padding: 5px 15px;
		background: #f7f7f7;
		a{
			display: block;
		}
	}
}
.seba-section{
	padding: 10px 15px;
	h4{
		font-size: 20px;
	}
}

// service list
.service-list{
	background-color: #fff;
	box-shadow: 0px 0px 1px #aaa;
	border: 1px solid #e1e1e1;
	h4{
		background: #241468;
  padding: 10px 15px;
  color: #fff;
  font-size: 18px;
  text-align: left;
  margin-bottom: 0;
	}
}
.service-list-content{
	display: flex;
	gap: 25px;
	padding: 10px;
	.service-list-icon{
		img{
			height: 106px;
			width: 106px;
			object-fit: cover;
		}
	}
	.service-list-notice{
		ul{
			padding: 0;
			margin: 0;
			list-style: none;
			li{
				margin-bottom: 5px;
				&:not(:last-child){
					border-bottom: 1px solid #ddd;
				}
				&.viewmore{
					a{
						color: #333;
					}
				}
				a{
					text-decoration: none;
				}
			}
		}
	}
}

// blog
.blog_page_widget {
	transition: .3s;
}
.blog_page_widget .event_thumb {
	display: block;
	overflow: hidden;
}
.blog_page_widget .blog_page_meta {
	padding: 30px;
	background: #F7F7F7;
}
.blog_page_widget .blog_page_meta h4 {
	margin: 20px 0 15px 0;
}
.blog_page_widget .blog_page_meta p {
	font-weight: 400;
	font-size: 14px;
	line-height: 26px;
	text-transform: capitalize;
	color: #666666;
	margin-bottom: 20px;
}
.blog_page_widget .blog_page_meta .blog_page_bottom a {
	font-weight: 400;
	font-size: 14px;
	line-height: 24px;
	color: #FF5170;
}
.blog_page_widget .blog_page_meta .blog_page_bottom .blog_date {
	font-weight: 400;
	font-size: 14px;
	line-height: 24px;
	color: #FF5170;
}
.blog_page_widget:hover {
	box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.1);
}

// theme pagination
.theme_pagination {
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	grid-gap: 16px;
	justify-content: center;
}
.theme_pagination a {
	width: 48px;
	height: 48px;
	border-radius: 0%;
	border: 1px solid #D6D6D6;
	font-size: 20px;
	font-weight: 400;
	color: #666666;
	display: flex;
	transition: .3s;
	align-items: center;
	justify-content: center;
	font-family: "Libre Baskerville", serif;
	text-decoration: none;
}
.theme_pagination a.active, .theme_pagination a:hover {
	background: #FF5170;
	color: #fff;
	border-color: #FF5170;
}

// event css
.eventList_widget {
	box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.1);
}
.event_date_location {
	padding: 0;
	margin: 0;
	list-style: none;
}
.eventList_widget .event_thumb {
	display: block;
	overflow: hidden;
}
.eventList_widget .eventList_meta {
	padding: 30px;
}
.eventList_widget .eventList_meta .eventList_title h3 {
	font-size: 20px;
	font-weight: 400;
}
.eventList_widget .eventList_meta h4 {
	margin: 20px 0 15px 0;
}

.eventList_widget .eventList_meta .eventList_title h3 span {
	font-size: 38px;
	font-weight: 700;
	margin-bottom: 0;
}

.eventList_widget .eventList_meta p {
	font-weight: 400;
	font-size: 14px;
	line-height: 26px;
	text-transform: capitalize;
	color: #666666;
	margin-bottom: 20px;
}
.eventList_widget .eventList_meta .event_date_location li {
	font-weight: 400;
	font-size: 16px;
	line-height: 24px;
	color: #FF5170;
}
.eventList_widget .eventList_meta .event_date_location li i {
	margin-right: 15px;
}
.notice_board_content.not-scroll {
	overflow: hidden;
	height: 100%;
}

// form
.search_result_box {
	background: #FFFFFF;
	box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.1);
	border-radius: 8px;
	padding: 48px;
}
.section__title h3 {
	font-size: 40px;
	font-weight: 700;
	line-height: 1.5;
	color: #202e3b;
}
.section__title p {
	font-size: 16px;
	font-weight: 400;
	font-family: "Libre Baskerville", serif;
	color: #6B6B6B;
	line-height: 30px;
}
.border_line {
	background: #392C7D;
	height: 2px;
	width: 80px;
	display: inline-block;
}
.primary_label2 {
	font-family: "Libre Baskerville", serif;
	font-size: 18px;
	font-weight: 400;
	color: #242424;
	display: block;
	margin-bottom: 14px;
	line-height: 1;
}
.contact_department_box {
	background: #F7F7F7;
	border-radius: 22.223px;
	padding: 70px 25px;
	transition: .3s;
}
.contact_department_box .icon::before {
	content: '';
	width: 47px;
	height: 47px;
	background: rgba(199, 201, 100, 0.2);
	border-radius: 50%;
	position: absolute;
	bottom: -10px;
	right: 0;
}
.contact_department_box .icon {
	width: 60px;
	height: 60px;
	display: inline-flex;
	position: relative;
}
.contact_department_box h3 {
	font-weight: 400;
	font-size: 30px;
	line-height: 150%;
	text-align: center;
	letter-spacing: 0.02em;
	text-transform: capitalize;
	margin: 22px 0 14px 0;
	color: #333333;
}
.contact_department_box p {
	font-weight: 400;
	font-size: 20px;
	line-height: 30px;
	text-align: center;
	letter-spacing: 0.04em;
	/* text-transform: capitalize; */
	color: #666666;
}